---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Joey Iny";
const allPosts = Object.values(import.meta.glob("./blog/*.md", { eager: true }));
---

<BaseLayout title={pageTitle}>
  <h1>blog posts:</h1>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
          {
            <span class="date">
              <time datetime={post.frontmatter.date}>{post.frontmatter.date}</time>
            </span>
          }
        </li>
      ))
    }
  </ul>
</BaseLayout>
